html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Georgia", serif;
}


.header {
    background-color: #111;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #8c1c1c;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    color: #c7c7c7;
}

.portada {
    position: relative;
    background: url("img/portada.jpg") center/cover no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}

.portada::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.portada * {
    position: relative;
    z-index: 2;
}

.intro {
    width: 40%;
    margin-left: 60px;
    font-size: 14px;
}


.boton-leer {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 18px;
    background-color: #8c1c1c;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.boton-leer:hover {
    background-color: #a92a2a;
}

.texto-extra {
    display: none; 
}
.texto-extra.show {
    display: inline; 
}

.barra-carta {
    margin-top: 20px;           
    padding: 15px 20px;
    text-align: center;
    position: sticky;            
    top: 60px;                   
    z-index: 999;
    background:#d2af39;           
    border-bottom: 1px solid #d2af39;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.barra-link {
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #8c1c1c;
    transition: color 0.3s;
}

.barra-link:hover {
    color: #8c1c1c;
}

.seccion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-left: 20px;
}

.btn-ver {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 18px;
    background-color: #8c1c1c;
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: 0.3s;
}

.btn-ver:hover {
    background-color: #a92a2a;
}

.platos-grid,
.platos-extra.show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px 40px 20px;
}

.plato img {
    width: 100%;
    height: 220px;       
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #8c1c1c;
    transition: transform 0.3s ease;
}

.plato img:hover {
    transform: scale(1.03);
}

.plato h3,
.plato h4 {
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: #8c1c1c;
    text-align: center;
}

.plato p {
    font-size: 13px;
    line-height: 1.5;
    text-align: justify;
    padding: 20px;
}

.categoria {
    display: none;
    margin-top: 60px;
}

.categoria.active {
    display: block;
}

.platos-extra {
    display: none;
}

@media (max-width: 768px) {
    .platos-grid,
    .platos-extra.show {
        grid-template-columns: 1fr;
    }

    .barra-carta {
        overflow-x: auto;
        white-space: nowrap;
    }

    .barra-link {
        display: inline-block;
        margin: 50px;
    }

    .intro {
        width: 80%;
        margin-left: 20px;
    }

    .portada {
        height: 70vh;
    }
}

.plato {
    flex: 1 1 calc(33.33% - 20px);
    text-align: center; 
}

.plato .precio {
    display: block;      
    font-weight: bold;    
    color: #8c1c1c;      
    margin-top: 10px;     
    font-size: 20px; 
}html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Georgia", serif;
}

.header {
    background-color: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #8c1c1c;
    font-size: 22px;
    letter-spacing: 1px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    color: #c7c7c7;
}

.portada {
    position: relative;
    background: url("img/portada.jpg") center/cover no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}

.portada::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.portada * {
    position: relative;
    z-index: 2;
}

.intro {
    width: 40%;
    margin-left: 60px;
    font-size: 20px;
}


.boton-leer {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 18px;
    background-color: #8c1c1c;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.boton-leer:hover {
    background-color: #a92a2a;
}

.texto-extra {
    display: none; 
}
.texto-extra.show {
    display: inline; 
}

.barra-carta {
    margin-top: 20px;           
    padding: 12px 0;
    text-align: center;
    position: sticky;            
    top: 60px;                   
    z-index: 999;
    background: #8c1c1c;        
    display: flex;
    justify-content: center;
    gap: 20px;
}

.barra-link {
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.barra-link:hover {
    color: #d2af39;
}

.seccion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-left: 20px;
}

.btn-ver {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 18px;
    background-color: #8c1c1c;
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: 0.3s;
}

.btn-ver:hover {
    background-color: #a92a2a;
}


.platos-grid,
.platos-extra.show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px 40px 20px;
}

.plato img {
    width: 100%;
    height: 220px;      
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #8c1c1c;
    transition: transform 0.3s ease;
}

.plato img:hover {
    transform: scale(1.03);
}

.plato h3,
.plato h4 {
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: #8c1c1c;
    text-align: center;
}

.plato p {
    font-size: 13px;
    line-height: 1.5;
    text-align: justify;
    padding: 20px;
}

.categoria {
    display: none;
    margin-top: 60px;
}

.categoria.active {
    display: block;
}

.platos-extra {
    display: none;
}

@media (max-width: 768px) {
    .platos-grid,
    .platos-extra.show {
        grid-template-columns: 1fr;
    }

    .barra-carta {
        overflow-x: auto;
        white-space: nowrap;
    }

    .barra-link {
        display: inline-block;
        margin: 0 10px;
    }

    .intro {
        width: 80%;
        margin-left: 20px;
    }

    .portada {
        height: 70vh;
    }
}

.plato {
    flex: 1 1 calc(33.33% - 20px);
    text-align: center; 
}

.plato .precio {
    display: block;       
    font-weight: bold;    
    color: #8c1c1c;      
    margin-top: 2px;     
    font-size: 20px;      
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #d2af39;
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 250px;
    background: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 500px;
}
.hero-content h1 {
    font-size: 2.3rem;
    font-weight: 800;
    margin-bottom: 10px;
}
.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.btn {
    background: #99ca71;
    padding: 10px 22px;
    color: #d2af39;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .hero {
        height: 280px;
    }

    .hero-content h1 {
        font-size: 1.7rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}

.servicios {
    padding: 50px 20px;
    text-align: center;
}

.servicios h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #8c1c1c;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    width: 95%;
    max-width: 1100px;
    margin: auto;
}

.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.card h3 {
    margin: 15px 0;
    color: #222;
}

.card p {
    color: #666;
    padding: 0 15px 15px;
}

.card button {
    margin: 10px;
    padding: 10px 20px;
    background: #8c1c1c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #8c1c1c;
}

.detalle {
    width: 100%;
    padding: 35px 20px;
    background: #d2af39;
    border-top: 4px solid #8c1c1c;
    display: none;
    animation: fadeIn 0.4s ease;
}

.detalle-content {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.detalle img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 20px;
    border: 5px solid #8c1c1c;
}

.cerrar {
    margin-top: 20px;
    padding: 10px 25px;
    background: #8c1c1c;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.cerrar:hover {
    background: #8c1c1c;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body { margin: 0; font-family: Arial, sans-serif; }

header {
    display: flex; justify-content: space-between; align-items: center;
    padding: 20px 60px; background-color: #000; position: sticky; top: 0;
}

.logo {
    color: #8c1c1c; font-weight: bold; letter-spacing: 2px;
}

nav ul { list-style: none; display: flex; gap: 25px; margin: 0; padding: 0; }
nav ul li a { color: #fff; text-decoration: none; font-weight: 600; }
nav ul li a:hover { color: #8c1c1c; }

.inicio {
    background-color: #111; color: #fff; height: 100vh;
    display: flex; justify-content: center; align-items: center;
}

.texto-inicio { width: 50%; line-height: 1.6; font-size: 16px; }

.leer-mas {
    margin-top: 20px;
    background-color: #8c1c1c; color: #fff; border: none;
    padding: 10px 20px; cursor: pointer;
}

.reserva {
    position: relative;
    padding: 80px 60px;
    color: #fff;
    text-align: center;

    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1200");
    background-size: cover;
    background-position: center;
}


.reserva::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    background: rgba(0, 0, 0, 0.45); 
    z-index: 0;
}


.reserva > * {
    position: relative;
    z-index: 1;
}

.formulario-reserva {
    max-width: 600px; margin: auto; display: grid; gap: 18px;
}

.formulario-reserva input,
.formulario-reserva select,
.formulario-reserva textarea {
    padding: 14px; border: 2px solid #8c1c1c; border-radius: 6px;
    background-color: #ffffff; color: #000000; transition: 0.3s; font-size: 15px;
}

.formulario-reserva input:focus,
.formulario-reserva select:focus,
.formulario-reserva textarea:focus {
    border-color: #8c1c1c; background-color: #8c1c1c; outline: none;
}

.boton-reserva {
    background-color: #8c1c1c; padding: 15px; color: #fff;
    border: none; border-radius: 6px; cursor: pointer; font-size: 1.1em;
    transition: 0.3s;
}
.boton-reserva:hover { background-color: #8c1c1c; transform: scale(1.02); }

.testimonios {
    background-color: #d2af39; color: #000000; padding: 60px; text-align: center;
}

.contenedor-testimonios {
    display: flex; justify-content: center; gap: 30px; margin-top: 25px;
}

.testimonio {
    width: 280px; padding: 20px; background-color: #ffffff;
    border-radius: 15px; border-left: 08px solid #8c1c1c;
}

.faq { background-color: #8c1c1c; padding: 60px; color: #000000 ; }

.faq-item {
    background-color: white; padding: 15px 20px; border-left: 8px solid #d2af39;
    border-radius: 6px; margin-bottom: 12px;
}

.mapa { padding: 60px; background-color: #d2af39; color: #000000; text-align: center;  }

.footer {
    background-color: #8c1c1c; color: #000000; text-align: center;
    padding: 25px; font-size: 14px;
}

.footer a { color: #000000; text-decoration: none; }
.footer a:hover { color:#d2af39; }

.modal-reserva {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background-color: #d2af39;
    display: flex; justify-content: center; align-items: center;
    z-index: 9999;
}

.modal-contenido {
    background-color: #d2af39;
    padding: 40px;
    border-radius: 8px;
    color: #fff;
    width: 320px;
    text-align: center;
    border: 2px solid #8c1c1c;
}

.modal-contenido pre {
    text-align: left;
    background-color: #111;
    padding: 20px;
    border-radius: 5px;
    white-space: pre-wrap;
}

#cerrarModal {
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #8c1c1c;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

#cerrarModal:hover { background-color: #8c1c1c; }

.locales-section {
    padding: 60px 0;          
    background-color:#d2af39;
    display: flex;
    flex-direction: column;
    align-items: center;      
}

.titulo-locales {
    margin: 0 0 40px 0;
    font-size: 22px;
    color: #8c1c1c;
}

.locales-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;                
    justify-content: center;
    max-width: 1100px;        
    margin: 0 auto;
}

.local-card {
    text-align: center;
    max-width: 320px;         
}

.local-image-box {
    position: relative;
    width: 100%;
    height: 280px;            
    background-color: #e0b43a;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.local-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7; 
    border-radius: 25px;
}

.local-buttons {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn-local {
    padding: 6px 18px;
    background-color: #e0b43a;
    color: #000;
    font-size: 11px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.btn-local:hover {
    background-color: #f0c64f;
}

.local-nombre {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.local-direccion {
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    .locales-grid {
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .local-card {
        max-width: 100%;
    }
}

